.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal.isActive {
    opacity: 1;
    pointer-events: all;
}

.modalHeader {
    grid-area: H;
    display: grid;
    grid-template-columns:10fr 2fr;
}
.modalTitle {
    margin: 4%;
}
.cancelButton {
margin: 15%;
}

.modalContent {
    width: 30%;
    background-color: white;
    color: black;
    display: grid;
    grid-template-areas:
    "H H"
    "B B"
    "F F";
}

.modalContent input {
    margin: 4%;
}

.modalContent select {
    margin: 10px;
}

.modalFooter {
    grid-area: F;
}

.modalFooter button {
    float: right;
    margin: 4%;
}
