.header {
    background-color:blue;
    color: white;
}

.title {
    font-size: 200%;
    margin: 1%;
    float: left;
    padding:0 1% 0 1%;
}

.navPanel {
    font-size: 200%;
    margin: 1%;
    float: left;
}

.navPanel a {
    color: white;
    padding: 0 5% 0 5%;
    font-size: 80%;
}

.navPanel a.activeLink {
    color: cornflowerblue;
}

.navPanel a:not(:last-child) {
    border-right: solid #fff;
}

.addButton {
    font-size: 200%;
    margin: 1%;
    float: right;
}
