.modalBody {
    grid-area: B;
    display: grid;
    grid-template-areas:
    "N C"
    "D D";
}

.taskNameInput {
    grid-area: N;
}

.taskCategorySelect {
    grid-area: C;
}

.taskDescriptionInput {
    grid-area: D;
}

.selectPlaceholder {
    display: none;
}