.modalBody {
    grid-area: B;
    display: grid;
    grid-template-areas:
    "N N"
    "D D";
}

.categoryNameInput {
    grid-area: N;
}

.categoryDescriptionInput {
    grid-area: D;
    margin:4%;
}

.selectPlaceholder {
    display: none;
}