.modalHeader {
    grid-area: H;
    margin: 5px;
}

.modalTitle {
    margin: 10px;
}

.cancelButton {
    float: right;
}

.modalBody {
    grid-area: B;
    display: grid;
    grid-template-areas:
    "N C"
    "D D";
}

.taskNameInput {
    grid-area: N;
}

.taskCategorySelect {
    grid-area: C;
}

.taskDescriptionInput {
    grid-area: D;
}

.modalFooter {
    grid-area: F;
    margin: 5px;
}

.modalFooter button {
    float: right;
    margin: 2%;
}

.modalFooter input {
    float: right;
    margin: 2%;
}

.selectPlaceholder {
    display: none;
}